h1 { color: #555555; }

.oferta { margin-top: 25px; }

.oferta img { width: 380px; height: 240px; }

.thumbnails { margin-top: 12px; }

.thumbnails img { width: 120px; height: 80px; margin-right: 12px; margin-bottom: 12px; }