<section class="container">
    <div class="secao">
        <h3>Cinema, viagens, diversão e muito mais</h3>
        <h5> Conheça as melhores ofertas para você se divertir</h5>
    </div>
    <hr>
    <div class="row row-cols-2">
        <div class="col-sm-4">
            <img src="../../assets/ofertas/4/img1.jpg" alt="">
        </div>

        <div class="col-sm-8">
            <div class="row">
                <h4>Estância das águas</h4>
            </div>
            <div class="row">
                <h5>Diversão garantida com piscinas, trilhas e muito mais...</h5>
            </div>

            <div class="row">
                <p>Anunciado por: <strong>Estância das águas</strong></p>
            </div>

            <div class="row">
                <p>R$41,90</p>
            </div>

            <div class="row">
                <button class="btn btn-outline-success">Ver Oferta</button>
            </div>
        </div>
    </div>
    <hr>
</section>